<h1>Expenses</h1>

<%= form_tag expenses_path, method: :get do %>
  <%= label_tag :month, "Month:" %>
  <%= date_field_tag :month, @month.strftime('%Y-%m-01'), type: :month %>
  <%= submit_tag "Filter" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Category</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.amount %></td>
        <td><%= expense.category %></td>
        <td><%= expense.date %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>